<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP-app search engine</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>PEP SEARCH</h1>
    <input type="text" id="search-query" placeholder="Enter">
    <select id="search-method">
        <option value="boolean">Boolean Search</option>
        <option value="tf-idf">TF-IDF Search</option>
    </select>
    <button onclick="performSearch()">Search</button>
    <ul id="results"></up>

    <script>
        function performSearch() {
            let query = document.getElementById("search-query").value;
            let method = document.getElementById("search-method").value;
            fetch("/search", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ query: query, method: method })
            })
            .then(response => response.json())
            .then(data => {
                let resultsList = document.getElementById("results");
                resultsList.innerHTML = "";
                data.forEach(result => {
                    let li = document.createElement("li");
                    li.textContent = result;
                    resultsList.appendChild(li);
                });
            });
        }
    </script>
</body>
</html>