/* styles for header */

header {
  display: flex;
  align-items: center;  /* Vertical alignment */
  justify-content: center;  /* Center text, logo separate */
  padding: 20px;
  background-color: #FF652F; /* Orange */
  color: white;
  background-image: url('/static/images/3.png');
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat; 
  position: relative; /* Needed for absolute positioning of .logo */
}

header img.logo {
  width: 100px;  
  height: auto; 
  position: absolute;
  left: 20px; /* Keep logo on the left */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

h1 {
  text-align: center;
  color: white;
  margin-top: 30px;
  flex-grow: 1;
}

.description {
  text-align: center;
  font-size: 18px;
  color: #333;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f9; /* 747474 */
  margin: 0;
  padding: 0;
  color: #333;
  background-image: url('/static/images/6.png');
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat;  
}

form {
  text-align: center;
  margin-top: 20px;
}

/* --- Input Fields --- */
input[type="text"], 
input[type="number"], 
select {
  width: 100%; 
  max-width: 400px; 
  padding: 10px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* --- Submit Button --- */
input[type="submit"] {
  padding: 10px 20px;
  background-color: #4169E1; /* 14A76C */
  color: white;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Search results styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

ul li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  color: #14A76C;
}

ul li p {
  font-size: 14px;
  color: #555;
}

strong {
  color: #333;
}

/* Footer syles */
footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FF652F; /* orange */
  color: white;
  background-image: url('/static/images/3.png');
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat; 

}

/* Content box styles */
.content {
  padding: 20px;
}

.white-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow added */
  max-width: 600px;
  width: 90%;
  text-align: center;
  margin: 0 auto; /* Centering */
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.white-box h2 {
  color: #333;
}

.white-box p {
  color: #555;
}
/* --- Horizontal Menu --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Horizontal */
  justify-content: flex-start; /* Left */
}

nav ul li {
  margin: 0 15px; /* Spaces */
}

nav ul li a {
  text-decoration: none;
  color: white; 
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
}

/* Change */
nav ul li a:hover {
  background-color: #ff9900; /* orange */
}

/* --- Menu styles for body --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Horizontal */
  justify-content: center; /* Center */
  background-color: #000000; /* Background */
  border-radius: 5px; /* Закругленные углы */
}

nav ul li {
  margin: 0 15px; /* spaces */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px; 
  padding: 5px 10px; 
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

nav ul li a:hover {
  background-color: #f0f0f0;
  color: #4169E1; /* FF652F 4169E1 */
  transform: scale(1.05); 
}