<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">

    <title>PEP Search Engine</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
  </head>

  <body>
    <h1>PEP Search</h1>

    <form action="/search" method="POST">
      <p>Query: <input type="text" name="query"/></p>

      <p>Show: <input type="text" name="amount" placeholder="5"/></p>
	    
      <select name="method" id="method">
	<option value="boolean">Boolean Search</option>
	<option value="ranked">TF-IDF Search</option>
      </select>
      
      <p><input type="submit" value="Submit"/></p>
    </form>
  </body>
</html>
