{% extends "base.html" %}

{% block title %}Home - PEP Search Engine{% endblock %}

{% block content %}

    <div class="content">
      <div class="white-box">
        <h2>FAST AND CURIOUS</h2>
        <p>Search for Python Enhancement Proposals (PEPs) using different methods.</p>
        
        <!-- Integrated Form -->
        <form action="/search" method="POST">
          <div class="form-container">
          <div class="form-row">
            <label for="query">Query:</label>
            <input type="text" id="query" name="query" />
          </div>
          <div class="form-row">
            <label for="show">Show:</label>
            <input type="number" id="show" name="amount" value="5" />
          </div>
          <div class="form-row">
            <label for="method">Search Method:</label>
            <select name="method" id="method">
              <option value="boolean">Boolean Search</option>
              <option value="ranked">TF-IDF Search</option>
              <option value="semantic">Semantic Search</option>
            </select>
          </div>
            <p><input type="checkbox" name="use_graphs" /> Use graphs</p>
            
            <p><input type="submit" value="Submit" /></p>
          </div>
        </form>
    
    <!-- Footer -->
    <footer>
      <p>&copy; 2025 PEP SEARCH ENGINE</p>
    </footer>
  </body>
</html>

{% endblock %}
