{% extends "base.html" %}

{% block title %}Home - PEP Search Engine{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>PEP SE: Results</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
    <body>
        <a href="/">Back</a>
        <img src="{{ url_for('static', filename='term_graph.png') }}" alt="Graph of Terms">
        
        <ul>
            {% for number in numbers %}
            <li><p>{{number}} -- <a href={{metadata[number]["url"]}}>{{metadata[number]["title"]}}</a></p></li>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}
