{% extends "base.html" %}

{% block title %}Home - PEP Search Engine{% endblock %}

{% block content %}
  
    <body>
        <h2>PEP SE: Results</h2>
        
        <a href="/">Back</a>
        <img src="{{ url_for('static', filename='term_graph.png') }}" alt="Graph of Terms">
        
        <ul>
            {% for number in numbers %}
            <li><p>{{number}} -- <a href={{metadata[number]["url"]}}>{{metadata[number]["title"]}}</a></p></li>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}
